.img-fisio{
    width: 150px;
    height:120px;
    display:block;
    margin:auto;
  
}
.type-physiognomy{
    color:#1b1b1b;
}

.text-fisionomia{
    font-size: 20px;
}
.btn-send{
    background: #71DB77;
    border-radius: 5px;
    color: #FFFFFF;
    border:0px;
}
