.img-fisio{
    width: 350px;
    height:350px;
    display:block;
    margin:auto;
  
}
.type-physiognomy{
    color:grey;
}

.text-fisionomia{
    font-size: 20px;
    color: grey;
}
.btn-send-1 {
    margin: 30px 0;
    text-align: center;
}
.btn-send-1 a {
    padding:10px 50px;
    color: inherit;
    text-decoration: inherit;
    background: #92c246;
    border-radius: 5px;
    color: #FFFFFF;
    border:0px
}
