.img-fisio{
    width: 150px;
    height:120px;
    display:block;
    margin:auto;
  
}
.type-physiognomy{
    color:#1b1b1b;
}

.text-fisionomia{
    font-size: 20px;
}
.btn-send-1 {
    margin: 10px 0;
    padding: 5px 10px;
    text-align: center;
  
}
.btn-send-1 a {
    padding:5px 15px;
    color: inherit;
    text-decoration: inherit;
    background: #92c246;
    border-radius: 5px;
    color: #FFFFFF;
    border:0px
}
