.login {
    background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../img/dieta-signup.jpeg');
    background-size: cover;
    height: 80vh;
    
}
.card-general{
    padding-top:150px;
}

.card-general input{
    text-align: center;
}
.user-login {
background: #FFFFFF;
border: 1px solid #ACACAC;
box-sizing: border-box;
box-shadow: 5px 5px 10px rgba(172, 172, 172, 0.25);
border-radius: 10px;
padding: 40px;

}
.title-login{
    color: #92c246;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
.text-verificacion{
    margin-left: 15px;
}


@media only screen and (max-width: 768px) {
    .text-verificacion{
       font-size: 13px;
       margin-left: 10px;
    }
   
 }
  

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .login{
      height:90vh ;
    }
    
    }

@media only screen and (max-device-width: 480px){
        .login{
            height: 100vh;
        }
       
    }