.login {
    background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../img/dieta-signup.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card-general input{
    text-align: center;
}
.card {
background: #FFFFFF;
border: 1px solid #ACACAC;
box-sizing: border-box;
box-shadow: 5px 5px 10px rgba(172, 172, 172, 0.25);
border-radius: 10px;
padding: 40px;
}

.img-background{
    margin-top: 98px;
    opacity: 0.8;
    z-index:-1;
    position: absolute;
    height:482px ;
    width: 1440px;
    
}

.input-email{

box-shadow:  10px #ACACAC;
background: #FFFFFF;
border-radius: 5px;
}

.input-password{
    background: #FFFFFF;
    border-radius: 5px;
}

.title-login{
    color: #71DB77;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
.btn-send{
    background: #71DB77;
    border-radius: 5px;
    color: #FFFFFF;
    border:0px;
}
.full-height{
    height: 100vh;
    padding-top: 10vh;
}