.test {
  background: #FFFFFF;
  border: 1px solid #ACACAC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 5px 10px rgba(172, 172, 172, 0.25);
          box-shadow: 5px 5px 10px rgba(172, 172, 172, 0.25);
}

.user{
  height: 140vh;
}

.img-grasa {
  width: 80%;
}

.bienvenido {
  padding: 20px;
  color: aqua;
  font-size: 30px;
  font-weight: bolder;
}



.wrapper-image {
  background-image: url("../../img/bolsa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}


.welcome{
  color:#71DB77;
}
.test-wrapper{
  height: 120vh;
}

@media only screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .test-wrapper{
    height: 1000px;
  }
  .user{
    height: 170vh;
  }
  
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.test-wrapper{
  padding-top:150px;
}
  
  }
