.paypal-logo{
    width: 30%;
    text-align: center;
}
.btn-payment{
    margin:20px 0;
}
.wrapper-payment{
    height: 80vh;
    
}
.wrapper-payment .order-shop p{
    color: #000000;
}
.title-paypal{
    font-size: 30px;
    color:#92c246;
    padding-bottom: 10px;
}



@media only screen and (max-width: 768px) {

  .wrapper-payment{
      height: 100vh;
  }
  
}

  