.paypal-logo{
    width: 30%;
    text-align: center;
}
.btn-payment{
    background: #71DB77;
    border-radius: 5px;
    color: #FFFFFF;
    border:0px;
    display:block;
    margin:auto;

}
.wrapper-payment{
    height: 80vh;
}

.title-paypal{
    font-size: 30px;
    color:#71DB77;
    padding-bottom: 10px;
}

@media only screen and (max-width: 768px) {
.card-mobile{
flex-direction: row;
text-align: center;

  }
  .order-shop{
      padding:30px;
  }
  .wrapper-payment{
      height: 100vh;
  }
  
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .card-mobile{
        width: 700px;
        padding-top:30px;
     
        
          }
          .order-shop{
              padding:30px;
          }
    
    }
  