.paypal-logo{
    width:300px;
    width: 300px;
}
.btn-payment{
    background: #71DB77;
    border-radius: 5px;
    color: #FFFFFF;
    border:0px;
    width: 400px;
}
.wrapper-payment{
    padding-top: 98px;
}
.card-paypal {
    padding:30px;
}
.card-envio{
    height: 150px;
}
.title-paypal{
    margin-top: 15px;
    font-size: 30px;
}