
.diet-wrapper {
    height: 100%;
}

.list-food{
    list-style: none;
}
.icon-food{
    width: 30px;
    height: 30px;
}
.table-center{

    background-color:rgb(251, 250, 244);
}

.img-diet{
    width: 3000px;
}
.car-button button {
    background-color: #92c246;
    border: none;
    border-radius: 10px;
    padding:10px 40px;
    color:#ffff;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}



  
