


.list-food{
    list-style: none;
}
.icon-food{
    width: 30px;
    height: 30px;
}
.table-center{

    background-color:rgb(251, 250, 244);
}

.img-diet{
    width: 3000px;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .diet{
      height: 80vh;
    }
    
    }
  
