

.us-block{
    background-color: #1b1b1b;
    color: #ffff;
    padding: 35px 0;
}
.us-block .image-us {
    margin: auto;
    text-align: center;
}
.us-block img{
    width: 80%;
}

h2{
    color:#92c246;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 20px;

}
.icons-row {
    text-align: center;
    height: 210px;
}
.icons-row .icon-wrapper{
    padding: 30px;
}
.icons-row .icon-home{
    color: #92c246;
    font-size: 60px;
    margin: 10px 0;
}

.us-block p {
    font-size: 15px;
    padding-top: 30px;
}

.diets-wrapper {
    background-color: #FBFAF4;
    padding: 35px 0;
}
.diets-wrapper .home-info{
    padding-top: 20px;
}
.diets-wrapper .home-image{
    text-align: center;
    padding: 20px 0;;
}
.diets-wrapper img {
    width: 400px;
}
.diets-wrapper .text-home-wrapper p{
    color: #272728;
    font-size: 25px;
    padding: 60px 0;
}
.btn-home-wrapper {
    background-color: #92c246;
    text-align: center;
    border-radius:10px;
    margin:30px 400px;
    box-shadow: 8px 10px 25px -1px rgba(0,0,0,0.47);
    
}
.shop-cards-wrapper {
    padding: 35px 0;
}
.btn-home-wrapper .btn-home{
    margin: 2px 0;
}
.btn-home-wrapper .btn-home p{
    font-size: 30px;
    font-weight: 800;
}
.btn-home-wrapper a{
    color: #ffff;
    text-decoration: none;
}


@media (max-width: 900px) {
    .btn-home-wrapper {
        margin:0;
        
    }
    .icons-row {
        height: auto;
    }
    .icons-row .icon-home{
        font-size: 30px;
        margin: 10px 0;
    }
}