.user-profile {

    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    margin:auto;
    padding-top: 50px;
}
.user-profile .avatar{
    width:150px;
    height:150px;
    display:block;
    margin:auto;
}

.user{
    height: 80vh;
    padding-top: 40px;

}
.background-avatar{
    background-color:#FBFAF4;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .user{
      height: 90vh;
    }
    .btn-update{
        margin-left:15px;
    }
    
    }

    @media only screen and (max-width: 768px) {
        .btn-update{
          margin-left: 15px;
        }
       
     }
     @media only screen and (max-device-width: 480px){
        .user{
            height: 100vh;
        }
       
    }




