.user-profile {
    padding-top: 100px;
    width: 1440px;
    height: 180px;
    background-color:#FBFAF4;
    background-repeat: no-repeat;
    background-size: cover;
}
.user-profile .avatar{
    width:150px;
    height: 150px;
    margin-left:640px;
    margin-bottom: px;
}

.card-profile input{
    text-align: center;
}
.card-cuenta{
height: 370px; 
background: #FFFFFF;
border: 1px solid #ACACAC;
box-sizing: border-box;
box-shadow: 5px 5px 10px rgba(172, 172, 172, 0.25);
border-radius: 10px;
text-align: center;
}
.input-g{

box-shadow:  10px #ACACAC;
background: #FFFFFF;
border-radius: 5px;

}

.input-contraseña{
    margin-left: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 350px;
}


.title-user{
    color: #71DB77;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
.btn-update{
    background: #71DB77;
    border-radius: 5px;
    color: #FFFFFF;
    border:0px;
    width:180px;
    font-weight: bold;
}

.update-photo{
    font-size: 15px;
    font-weight: bold;

}



