.user-activity {
    padding-top: 100px;
    width: 1440px;
    height: 180px;
    background-color:#FBFAF4;
    background-repeat: no-repeat;
    background-size: cover;
}
.user-activity .avatar{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
   
}

.btn-view{
    background: #92c246;
    border-radius: 5px;
    color: #FFFFFF;
    border:0px;
    width:180px;
    font-weight: bold;
}


.data-plan{
    font-size: 15px;
    font-weight: bold;

}
.activity{
    height: 135vh;

}

@media only screen and (max-width: 768px) {
    .activity{
        height: 180vh;
    }
    .btn-view{
        width: 120px;
    }
    
  }
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .activity{
        height: 120vh;
    }
    
}
@media only screen and (max-device-width: 480px){
        .activity{
            height: 220vh;
        }
        .btn-view{
            width: 60px;
        }
       
    }
  
  
  



  

