.user-activity {
    padding-top: 100px;
    width: 1440px;
    height: 180px;
    background-color:#FBFAF4;
    background-repeat: no-repeat;
    background-size: cover;
}
.user-activity .avatar{
    width:150px;
    height: 150px;
    margin-left:640px;
}

.card-activity input{
    text-align: center;
}
.card-activity-user{
height: 300px; 
background: #FFFFFF;
border: 1px solid #ACACAC;
box-sizing: border-box;
box-shadow: 5px 5px 10px rgba(172, 172, 172, 0.25);
border-radius: 10px;
text-align: center;
margin-bottom: 80px;
}
.input-current{

box-shadow:  10px #ACACAC;
background: #FFFFFF;
border-radius: 5px;
width: auto;

}

.title-account{
    color: #71DB77;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    margin-bottom: px;
}
.btn-view{
    background: #71DB77;
    border-radius: 5px;
    color: #FFFFFF;
    border:0px;
    width:180px;
    font-weight: bold;
    margin: 17px 10px 0px 175px;
   
}

.btn-change{
    background: #71DB77;
    border-radius: 5px;
    color: #FFFFFF;
    border:0px;
    width:180px;
    font-weight: bold;
    margin: 17px 0px 0px 220px;

}

.data-account{
    font-size: 20px;
    margin: 20px 80px 30px 150px;
}

 
.data-plan{
    font-size: 15px;
    margin: 30px 20px 0px 80px;
    font-weight: bold;

}

#scroll{
    background-color: inherit;
    width: auto;
    height:auto;
    overflow-y: scroll;
    
  }
  
  #scroll::-webkit-scrollbar {
    display: none;
  }
  @media only screen and (max-width: 768px) {
    .container{
        display: flex;
    }
  }

  

