.footer{
    background-color: #1b1b1b;
    bottom: 0;
    width: 100%;
    position: relative;
    color:#92c246;
}

footer img {
    width: 80px;
}
footer .contact .contact-p p{
    font-weight: 800;
    font-size: 20px;
    padding-top: 10px;

}
footer .icons .content-contact{
    margin-bottom: 15px;
}

footer .icons p {
    margin: 0;
}

footer .icon {
    margin-right: 8px;
    font-size: 20px;
}
footer .social{
    text-align: right;
}
footer .social a{
    color:#92c246;
    text-decoration: none;
    font-size: 39px;
    text-align: left;
    
}

