.test-form ol {
    padding-left: 15px;
}
.data-form {
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: bolder;
    margin-bottom: 15px;
}
  .info-test {
    font-size: 15px;
    height: 25px;
}