.card-activity input{
    text-align: center;
}

.card-activity-user{
    background: #FFFFFF;
    border: 1px solid #ACACAC;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(172, 172, 172, 0.25);
    border-radius: 10px;
    text-align: center;
}
.title-account{
     color: #92c246;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
     
}
.input-current{
    box-shadow:  10px #ACACAC;
    background: #FFFFFF;
    border-radius: 5px;
        
}
.data-account{
    font-size: 20px;
          
}
.btn-change a{
    padding:5px 15px;
    color: inherit;
    text-decoration: inherit;
    background: #92c246;
    border-radius: 5px;
    color: #FFFFFF;
    border:0px
    

}
        