.signup {
    background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../img/dieta-signup.jpeg');
    background-size: cover;
    height: 80vh;    
}

.text-correo{
    text-align: center;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .signup{
        height: 110vh;
       
    }
   
 }
  
