
.wrapper-delivery{
    padding-top: 80px;

}

.title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #71DB77;
}

  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
     .wrapper-delivery{
         height: 90vh;
     }
   
    }